input[type="text"],
input[type="password"] {
  display: block;
  width: 100%;
  height: auto;
  font-size: 1.6rem;
  text-align: left;
  padding: 1rem;
  border: 2px solid #e7e7e7;
  border-radius: 3px;
  background: #fcfcfc;
  margin: 10px auto 1rem;
  transition: opacity 0.4s;
}