.flash {
  font-size: 1.6rem;
  padding: 1rem;
  border-left: 1rem solid;
  border-radius: 2px;
}

.flash--error {
  background-color: rgb(240, 128, 128, 0.1);
  border-left-color: rgb(178, 20, 14);
}

.flash--info {
  background-color: lightblue;
  border-left-color: #0E59B2;
}
