/* body {
    padding: 60px 0 0;
    margin: 0;
    font-size: 18px;
  } */
  
  body * {
    box-sizing: border-box;
  }
  
  fieldset {
    padding: 0;
    border: 0;
    margin: 0;
  }
  
  .logo {
    display: block;
    width: auto;
    height: 35px;
    margin: 0 auto 30px;
  }
  
  .login-form {
    width: 400px;
    padding: 40px;
    border-radius: 3px;
    background: white;
    margin: 0 auto;
  }
  
  .login-form legend {
    width: 100%;
    line-height: 38px;
    font-size: 35px;
    font-weight: 300;
    color: #565656;
    text-align: center;
    letter-spacing: 0;
    margin: 0 auto 45px;
  }

  input[type="text"],
  input[type="password"],
  input[type="submit"] {
    display: block;
    width: 100%;
    height: auto;
    font-size: 18px;
    text-align: left;
    padding: 15px;
    border: 2px solid #e7e7e7;
    border-radius: 3px;
    background: #fcfcfc;
    margin: 10px auto 20px;
    transition: opacity 0.4s;
  }
  
  input[type="submit"] {
    height: auto;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: white;
    background: #0E59B2;
    border: 0;
    cursor: pointer;
    margin-bottom: 0;
    
  }